.navbar {
  width: 220px;
  background-color: #2c2c2c;
  color: #fff;
  padding: 20px;
  position: fixed;
  height: 100%;
  box-sizing: border-box;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  margin-bottom: 15px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  text-decoration: underline;
}

.icon-container {
  margin-bottom: 20px;
}

.profile-icon {
  width: 50px; /* Ajusta el tamaño a tu preferencia */
  height: 50px; /* Debe ser igual al ancho para que sea un círculo */
  border-radius: 50%; /* Hace que la imagen sea redonda */
  object-fit: cover; /* Asegura que la imagen se ajuste correctamente */
  border: 2px, solid,#ffffff;
}